* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1500px;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.sky    {
    width: 100%;
    height: 35%;
    background-color: rgb(151, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sun {
    width: 272px;
    height: 263px;
    animation: rotateSun 20s infinite linear;
}
@keyframes rotateSun {
    0%{transform:rotate(0);}
    100%{transform: rotate(360deg);}
}
.claud img {
    width: 150px;   
}
.claud {
    position: absolute;
    top: 20px;
    right: 20px;
    animation: translateClaud 3s infinite linear;
}
@keyframes translateClaud {
    0%{transform: translate(0);}
    20%{transform: translate(-250px, 200px);}
    40%{transform: translate(-500px, 0);}
    60%{transform: translate(-750px, 100px);}
    80%{transform: translate(-1000px, 0px);}
    100%{transform: translate(-1250px, 50px);}
}
.grass {
    width: 100%;
    height: 30%;
    background-color: rgb(59, 185, 101);
    display: flex;
    align-items: flex-start;
    justify-content: end;
}
.grass img {
    width: 200px;
}
.tree {
    height: 50%;
    animation: translateTree 0.5s infinite ;
}
@keyframes translateTree {
    0%{transform: translate(0);}
    100%{transform: translate(-1200px);}
}
.road   {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
}
.up {
    width: 100%;
    height: 50%;
    background-color: gray;
    border-top: 10px solid rgb(156, 156, 156);
    position: relative;
}
.up img {
    position: absolute;
    bottom: 50px;
    animation: translateUp 15s linear ;
}
@keyframes translateUp {
    0%{transform: translate(-50px);}
    100%{transform: translate(1000px);}
}
.down {
    width: 100%;
    height: 50%;
    background-color: gray;
    border-top: 10px solid rgb(252, 250, 250);
    position: relative;
}
.down img {
    position: absolute;
    bottom: 40px;
    right: 0;
    animation: translateDown 15s linear ;
}
@keyframes translateDown {
    0%{transform: translate(50px);}
    30%{transform: translate(-260px, -15px);}
    60%{transform: translate(-500px, 15px);}
    100%{transform: translate(-150px, 10px);}
}